.ProductBox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
      align-items: center;
      justify-items: center;

      max-width: 90%;
      margin: auto;
      padding-top: 15px;
      /* border: 1px solid #E03B8B; */
}
.ProductCard {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      align-content: center;
      align-items: center;
      height: 100%;
      padding: 20px;
      background-color: rgba(210, 209, 209, 0.414);
      border-radius: 10px;
}
.buttonBOx {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
}
/* .ProductCard:hover{
      
} */
@media only screen and (max-width: 1400px) {
      .ProductBox {
            grid-template-columns: repeat(1, 1fr);
      }
}
@media only screen and (max-width: 900px) {
      .ProductCard {
            grid-template-columns: repeat(1, 1fr);
      }
}
