@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

.FooterBox {
    margin-top: 40px;
      height: 250px;

      display: flex;
      background-color: rgba(0, 0, 0, 0.77);
      color: white;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      font-family: 'Water Brush', cursive;

}

.Title-Color{
    color: #e72684;
}
