.Login-Form {
      margin-top: 15px;
}
.Login-Form input {
      padding: 15px;
      font-size: 20px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.641);
      align-items: center;
}
.LoginFrom {
      display: grid;
}
/* .Login-Form input:focus{
    border: 3px solid #E03B8B;
} */
.btn-Main-color {
      background-color: #cc4717;
      color: white;
}
.btn-Main-color:hover {
      background-color: #8e4017;
      color: white;
}
